body {
    display: grid;
    place-content: center;
    min-height: 100vh;
  
    font-family: var(--ff-primary);
    font-weight: var(--fw-400);
  
    background-color: hsl(var(--clr-neutral-200));
  }